<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697051358504-ivsllm4gps4sab02l14a49mq96jgl2d0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697051358504-ivsllm4gps4sab02l14a49mq96jgl2d0</string>
	<key>API_KEY</key>
	<string>AIzaSyC_uAWTHO2AIaZ8JKbhkVVGBknOJ9Cdjjw</string>
	<key>GCM_SENDER_ID</key>
	<string>697051358504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MicheleManniello.DLogin</string>
	<key>PROJECT_ID</key>
	<string>datingapp-5e4ab</string>
	<key>STORAGE_BUCKET</key>
	<string>datingapp-5e4ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697051358504:ios:dcb910d947a3c9c636dc1d</string>
</dict>
</plist>